body {
  margin: 0;
  font-family: sans-serif;
}

.page-header {
  text-align: center;
}


.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.flex-container {
  margin: 10px;
  height: auto;
  width: auto;
  display: flex;
}

.flex-child {
  height: auto;
  width: auto;
  font-family: sans-serif;

  flex: 1;
  margin: 10px;
  margin-top: 10px;
  background-color: rgba(220, 230, 219, 0.815);

  text-align: center;
}

.flex-child1 {
  height: auto;
  width: auto;
  font-family: sans-serif;

  flex: 1;
  margin: 10px;
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(220, 230, 219, 0.473);
}

/* .flex-child:first-child {
  margin-right: 20px;
} */

.container button {
  float: left;
}

.container {
  width: 100px;
  height: 100px;
  padding-top: 50px;
  padding-left: 10px;
  padding-bottom: 50px;
}

.containerbo {
  width: 100px;
  height: 100px;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 50px;
  text-align: center;
}
