body {
margin:0;
font-family:sans-serif;
}

.page-header{
    text-align: center;
}



.container{  
    text-align: center;  
    /* border: 7px solid red;   */
    width: 100px;  
    height: 300px;  
    padding-top: 100px;  
    }
    
h3{
    
}
