<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>


    <div class="container">
        <a href="/"><button class="btn btn-primary">Return Home</button></a>
    </div>
       
    <div class="page-header container1">
        <div class="page-header">
                <h1 style="padding-bottom: 40px;">District-wise Cumulative Data</h1>
        </div>
        
            <!-- <div class="flex-container"> -->
            {%for x in range(14) %}
            <div class="flex-child1">
                <h3 style="color:rgb(18, 22, 21);text-align:left ;">{{ districts[x] }}</h3>
                <h4 style="color: dodgerblue;display: inline-block;">Confirmed : {{districts_data[x][0]}}</h4>&emsp;&emsp;
                <h4 style="color: red;display:inline-block">Deceased : {{districts_data[x][0]}}</h4>&emsp;&emsp;
                <h4 style="color: lawngreen;display:inline-block">Recovered : {{districts_data[x][0]}}</h4>&emsp;&emsp;
                <h4 style="color:rgb(255, 136, 0);display:inline-block">Vaccinated :{{districts_data[x][0]}}</h4>&emsp;&emsp;
                
               
            </div>
            {% endfor %}
            <!-- </div> -->

          
        

        <h1>District-wise Predicted Data</h1>
        <h2>Alappuzha</h2>
        <div class="chart-container" style="position: relative; height:80vh; width:80vw">
        <canvas id="d1"></canvas>
        </div>
        <p>The graphs shows district-wise cumulative cases,along with a 7-day prediction</p>
        <p style="color:black;margin: 10px 5px 15px 60px;"><font face="Neuton" size="5px">Total expected cases over next week:</font>
            <font face="Neuton" size="10px" color="#FF7A59"> {{list1[0]|tojson}}</font></p>
        <p style="color:black;margin: 10px 5px 15px 60px;"><font face="Neuton" size="5px">Approximate cases requiring intensive care over next week:</font>
                <font face="Neuton" size="10px" color="#FF7A59"> {{list2[0]|tojson}}</font></p>
        <p>(The approximations are done by taking an average of <font color="red">8%</font> as the total number of people requiring hospital care.)</p>
        <hr class="solid">
        

        <h2>Ernakulam</h2>
        <div class="chart-container" style="position: relative; height:80vh; width:80vw">
        <canvas id="d2"></canvas>
        </div>
        <p style="color:black;margin: 10px 5px 15px 60px;"><font face="Neuton" size="5px">Total expected cases over next week:</font>
            <font face="Neuton" size="10px" color="#FF7A59"> {{list1[1]|tojson}}</font></p>
        <p style="color:black;margin: 10px 5px 15px 60px;"><font face="Neuton" size="5px">Approximate cases requiring intensive care over next week:</font>
                <font face="Neuton" size="10px" color="#FF7A59"> {{list2[1]|tojson}}</font></p>
        <hr class="solid">
       
        <h2>Idukki</h2>
        <div class="chart-container" style="position: relative; height:80vh; width:80vw">
        <canvas id="d3"></canvas>
        </div>
        <p style="color:black;margin: 10px 5px 15px 60px;"><font face="Neuton" size="5px">Total expected cases over next week:</font>
            <font face="Neuton" size="10px" color="#FF7A59"> {{list1[2]|tojson}}</font></p>
        <p style="color:black;margin: 10px 5px 15px 60px;"><font face="Neuton" size="5px">Approximate cases requiring intensive care over next week:</font>
                <font face="Neuton" size="10px" color="#FF7A59"> {{list2[2]|tojson}}</font></p>
        <hr class="solid">
        
        
        <h2>Kannur</h2>
        <div class="chart-container" style="position: relative; height:80vh; width:80vw">
        <canvas id="d4"></canvas>
        </div>
        <p style="color:black;margin: 10px 5px 15px 60px;"><font face="Neuton" size="5px">Total expected cases over next week:</font>
            <font face="Neuton" size="10px" color="#FF7A59"> {{list1[3]|tojson}}</font></p>
        <p style="color:black;margin: 10px 5px 15px 60px;"><font face="Neuton" size="5px">Approximate cases requiring intensive care over next week:</font>
                <font face="Neuton" size="10px" color="#FF7A59"> {{list2[3]|tojson}}</font></p>
        <hr class="solid">
        
        <h2>Kasaragod</h2>
        <div class="chart-container" style="position: relative; height:80vh; width:80vw">
        <canvas id="d5"></canvas>
        </div>
        <p style="color:black;margin: 10px 5px 15px 60px;"><font face="Neuton" size="5px">Total expected cases over next week:</font>
            <font face="Neuton" size="10px" color="#FF7A59"> {{list1[4]|tojson}}</font></p>
        <p style="color:black;margin: 10px 5px 15px 60px;"><font face="Neuton" size="5px">Approximate cases requiring intensive care over next week:</font>
                <font face="Neuton" size="10px" color="#FF7A59"> {{list2[4]|tojson}}</font></p>
        <hr class="solid">
        
        <h2>Kollam</h2>
        <div class="chart-container" style="position: relative; height:80vh; width:80vw">
        <canvas id="d6"></canvas>
        </div>
        <p style="color:black;margin: 10px 5px 15px 60px;"><font face="Neuton" size="5px">Total expected cases over next week:</font>
            <font face="Neuton" size="10px" color="#FF7A59"> {{list1[5]|tojson}}</font></p>
        <p style="color:black;margin: 10px 5px 15px 60px;"><font face="Neuton" size="5px">Approximate cases requiring intensive care over next week:</font>
                <font face="Neuton" size="10px" color="#FF7A59"> {{list2[5]|tojson}}</font></p>
        <hr class="solid">
        
        <h2>Kottayam</h2>
        <div class="chart-container" style="position: relative; height:80vh; width:80vw">
        <canvas id="d7"></canvas>
        </div>
        <p style="color:black;margin: 10px 5px 15px 60px;"><font face="Neuton" size="5px">Total expected cases over next week:</font>
            <font face="Neuton" size="10px" color="#FF7A59"> {{list1[6]|tojson}}</font></p>
        <p style="color:black;margin: 10px 5px 15px 60px;"><font face="Neuton" size="5px">Approximate cases requiring intensive care over next week:</font>
                <font face="Neuton" size="10px" color="#FF7A59"> {{list2[6]|tojson}}</font></p>
        <hr class="solid">
        
        <h2>Kozhikode</h2>
        <div class="chart-container" style="position: relative; height:80vh; width:80vw">
        <canvas id="d8"></canvas>
        </div>
        <p style="color:black;margin: 10px 5px 15px 60px;"><font face="Neuton" size="5px">Total expected cases over next week:</font>
            <font face="Neuton" size="10px" color="#FF7A59"> {{list1[7]|tojson}}</font></p>
        <p style="color:black;margin: 10px 5px 15px 60px;"><font face="Neuton" size="5px">Approximate cases requiring intensive care over next week:</font>
                <font face="Neuton" size="10px" color="#FF7A59"> {{list2[7]|tojson}}</font></p>
        <hr class="solid">
       
        <h2>Malappuram</h2>
        <div class="chart-container" style="position: relative; height:80vh; width:80vw">
        <canvas id="d9"></canvas>
        </div>
        <p style="color:black;margin: 10px 5px 15px 60px;"><font face="Neuton" size="5px">Total expected cases over next week:</font>
            <font face="Neuton" size="10px" color="#FF7A59"> {{list1[8]|tojson}}</font></p>
        <p style="color:black;margin: 10px 5px 15px 60px;"><font face="Neuton" size="5px">Approximate cases requiring intensive care over next week:</font>
                <font face="Neuton" size="10px" color="#FF7A59"> {{list2[8]|tojson}}</font></p>
        <hr class="solid">
        
        <h2>Palakkad</h2>
        <div class="chart-container" style="position: relative; height:80vh; width:80vw">
        <canvas id="d10"></canvas>
        </div>
        <p style="color:black;margin: 10px 5px 15px 60px;"><font face="Neuton" size="5px">Total expected cases over next week:</font>
            <font face="Neuton" size="10px" color="#FF7A59"> {{list1[9]|tojson}}</font></p>
        <p style="color:black;margin: 10px 5px 15px 60px;"><font face="Neuton" size="5px">Approximate cases requiring intensive care over next week:</font>
                <font face="Neuton" size="10px" color="#FF7A59"> {{list2[9]|tojson}}</font></p>
        <hr class="solid">
        
        <h2>Pathanamthitta</h2>
        <div class="chart-container" style="position: relative; height:80vh; width:80vw">
        <canvas id="d11"></canvas>
        </div>
        <p style="color:black;margin: 10px 5px 15px 60px;"><font face="Neuton" size="5px">Total expected cases over next week:</font>
            <font face="Neuton" size="10px" color="#FF7A59"> {{list1[10]|tojson}}</font></p>
        <p style="color:black;margin: 10px 5px 15px 60px;"><font face="Neuton" size="5px">Approximate cases requiring intensive care over next week:</font>
                <font face="Neuton" size="10px" color="#FF7A59"> {{list2[10]|tojson}}</font></p>
        <hr class="solid">
        
        <h2>Thiruvananthapuram</h2>
        <div class="chart-container" style="position: relative; height:80vh; width:80vw">
        <canvas id="d12"></canvas>
        </div>
        <p style="color:black;margin: 10px 5px 15px 60px;"><font face="Neuton" size="5px">Total expected cases over next week:</font>
            <font face="Neuton" size="10px" color="#FF7A59"> {{list1[11]|tojson}}</font></p>
        <p style="color:black;margin: 10px 5px 15px 60px;"><font face="Neuton" size="5px">Approximate cases requiring intensive care over next week:</font>
                <font face="Neuton" size="10px" color="#FF7A59"> {{list2[11]|tojson}}</font></p>
        <hr class="solid">
        
        <h2>Thrissur</h2>
        <div class="chart-container" style="position: relative; height:80vh; width:80vw">
        <canvas id="d13"></canvas>
        </div>
        <p style="color:black;margin: 10px 5px 15px 60px;"><font face="Neuton" size="5px">Total expected cases over next week:</font>
            <font face="Neuton" size="10px" color="#FF7A59"> {{list1[12]|tojson}}</font></p>
        <p style="color:black;margin: 10px 5px 15px 60px;"><font face="Neuton" size="5px">Approximate cases requiring intensive care over next week:</font>
                <font face="Neuton" size="10px" color="#FF7A59"> {{list2[12]|tojson}}</font></p>
        <hr class="solid">
        
        <h2>Wayanad</h2>
        <div class="chart-container" style="position: relative; height:80vh; width:80vw">
        <canvas id="d14"></canvas>
        </div>
        <p style="color:black;margin: 10px 5px 15px 60px;"><font face="Neuton" size="5px">Total expected cases over next week:</font>
            <font face="Neuton" size="10px" color="#FF7A59"> {{list1[13]|tojson}}</font></p>
        <p style="color:black;margin: 10px 5px 15px 60px;"><font face="Neuton" size="5px">Approximate cases requiring intensive care over next week:</font>
                <font face="Neuton" size="10px" color="#FF7A59"> {{list2[13]|tojson}}</font></p>
        <hr class="solid">
        

    </div>
    
   
    <div class="container">
        <a href="/"><button class="btn btn-primary">Return Home</button></a>
    </div>





            <!-- JAVASCRIPT -->

<script>
        function draw(id,label,value)
        {
      
        var ctx = document.getElementById(id).getContext('2d');
        var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels:  label,
            datasets: [{
                label: 'Cumilative Cases',
                barThickness:10, 
                data:value,
               borderColor:['rgba(29,204,44)']
               
            }]
        },
        options: {
            layout: {
                padding: 50
                },
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            maintainAspectRatio: false,
            responsive:true
        }
    });
    
        }
    draw("d1",{{labels["labels_d1"]|tojson }},{{values["values_d1"]|tojson }})
    draw("d2",{{labels["labels_d2"]|tojson }},{{values["values_d2"]|tojson }})
    draw("d3",{{labels["labels_d3"]|tojson }},{{values["values_d3"]|tojson }})
    draw("d4",{{labels["labels_d4"]|tojson }},{{values["values_d4"]|tojson }})
    draw("d5",{{labels["labels_d5"]|tojson }},{{values["values_d5"]|tojson }})
    draw("d6",{{labels["labels_d6"]|tojson }},{{values["values_d6"]|tojson }})
    draw("d7",{{labels["labels_d7"]|tojson }},{{values["values_d7"]|tojson }})
    draw("d8",{{labels["labels_d8"]|tojson }},{{values["values_d8"]|tojson }})
    draw("d9",{{labels["labels_d9"]|tojson }},{{values["values_d9"]|tojson }})
    draw("d10",{{labels["labels_d10"]|tojson }},{{values["values_d10"]|tojson }})
    draw("d11",{{labels["labels_d11"]|tojson }},{{values["values_d11"]|tojson }})
    draw("d12",{{labels["labels_d12"]|tojson }},{{values["values_d12"]|tojson }})
    draw("d13",{{labels["labels_d13"]|tojson }},{{values["values_d13"]|tojson }})
    draw("d14",{{labels["labels_d14"]|tojson }},{{values["values_d14"]|tojson }})

     
    // jsonstr=json.dumps(l1)


        
  
        
    


  </script>
    
</body>
</html>