{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1>Covid-19 Case Prediction</h1>
<table border="1" class="dataframe">
    <thead>
      <tr style="text-align: right;">
        <th></th>
        <th>Unnamed: 0</th>
        <th>ds</th>
        <th>yhat</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>0</th>
        <td>209</td>
        <td>2020-08-26</td>
        <td>54628.681482</td>
      </tr>
      <tr>
        <th>1</th>
        <td>210</td>
        <td>2020-08-27</td>
        <td>55770.026468</td>
      </tr>
      <tr>
        <th>2</th>
        <td>211</td>
        <td>2020-08-28</td>
        <td>56868.277017</td>
      </tr>
      <tr>
        <th>3</th>
        <td>212</td>
        <td>2020-08-29</td>
        <td>57971.277329</td>
      </tr>
      <tr>
        <th>4</th>
        <td>213</td>
        <td>2020-08-30</td>
        <td>59061.773991</td>
      </tr>
      <tr>
        <th>5</th>
        <td>214</td>
        <td>2020-08-31</td>
        <td>60144.364821</td>
      </tr>
      <tr>
        <th>6</th>
        <td>215</td>
        <td>2020-09-01</td>
        <td>61261.731116</td>
      </tr>
    </tbody>
  </table>
{% endblock %}